
html, body {
    margin: 0px;
    
    font-family: 'Raleway', sans-serif;
    background:#CFD8DC;
}


.container{
    padding: 10px;
    background-color: white;
    height: 100%;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
    -moz-box-shadow: 0px 3px 5px rgba(100, 100 ,100, 1.2);
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
}

footer {
    height: 70px;
    margin-bottom: 20px;
    
    background-color: #2196F3;    
    width: auto;
    display: inline-block; 
    width: 100%;

    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 1.2);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 1.2);


}
#Copyright_color {
    color: white;
}

nav {
    margin-top: 10px;
    height: 70px;
    width: auto;
    background-color: #2196F3; 

    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 1.2);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 1.2);

}

nav > ul > li > a {

    text-decoration: none !important;
}


#content {
  text-align: center;
    height: 520px;
    background-color: white;
}


.logo {
    float: left;
}

.left_side_container { 
    width: auto;
    width: 48%;
    float: left;
    height: 900px

}

.right_side_container {
    
    width: auto;
    width: 48%;
    float: left;
    height: 900px;
}

.vr {
    height: 900px;
    float: left;
    border-left:2px solid black;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);

}

#kurser{
  height: 165px;
}

#kurser2{
  height: 214px;
}

#menu_bar > li {
    float: left;
    margin-left: 100px;
    margin-top: 23px;
    list-style: none;
    color: white;
}

#important_text {
    color: #F44336;
}

.link-3 {
    transition: .2s;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}
.link-3:hover {
    background-color: #ffffff;
    color: #2196F3;
    padding: 30px 10px;
    height: 70px;
}


#myCarousel {
    display: inline-block; width: 100%;
    margin-top: 50px;
          
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
   }

   .carousel-caption {
      font-size: 24px;
   }

   .carousel-caption h4 {
      font-size: 32px;
   }

   #myCarousel .item {
      height: 420px;

   }

   #slide1 {
      background: url('http://ftp.scientificlinux.org/linux/scientific/graphics/version-3/backgrounds/Edge.of.Space/atomshine-6-dawn.svg') top center no-repeat;
   }

   #slide2 {
      background: url('https://fedoraproject.org/w/uploads/f/f0/Artwork_F8Themes_FireWork_13background.svg') top center no-repeat;
   }

   #slide3 {
      background: url('https://tatica.fedorapeople.org/Themes/F12/wallpaper-mosaico2.svg') top center no-repeat;
   }














