html, body {
  height: 100%;
}

header {
background-color: #005E7F;
    height: 120px;
    width: auto;

}
footer {
    height: 50px;
    position: absolute;
    background-color: #005E7F;    
    bottom: 0;
    width: 100%;
    margin-top: 10px; 
}

footer:before {
    display: table;
    height: 0;
 
}

